<%- include('../../partials/head.ejs', {title: 'Internal Server Error'}) %> 

    <div class="container my-container my-5">
        <h1 class="display-4 text-center">Internal Server Error</hh1>
    </div>

<%- include('../../partials/footer.ejs') %>

</body>
</html>